body{
	margin: 8px;
	-webkit-user-select:none;
	-webkit-touch-callout:none;
	webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#mainContainer{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	width:631px;
	height:500px;
	margin:auto;
	cursor:default;
	overflow: hidden;
}

canvas { background-color: black }