<div class="pActivityWrapper">
    <div id='pdfViewer'>
        <div class="pdfHeader">Activity: Driving a car</div>
          <div class="pdfBody">
         <iframe src='' ></iframe>
        </div>
    </div>
    <div class="pActivityArea">

        <div class="pActivityHeader">Activity: Driving a car</div>
        <div class="pActivityBody">
            <div class="pVideoIconWrap">
                <div class="pVideoIconInnerWrap">
                <div class="pVideoIcon">
                    <div class="vIcon">

                    </div>
                    <div class="vCaption">
                        <p>Driver</p>
                        <p>Experiment with speed velocity and acceleration</p>
                    </div>
                </div>
                </div>

            </div>
            <div class="pActivityDesc">
                <p>When you click on the card, you will start a 3-D car driving simulation.  Press the up arrow key to go faster, and the spacebar to go slower. Press the down arrow key to turn around.  You can pause the simulation, if you like. </p>
                <p>At first, we only let you drive along a line along the <i>x</i>-axis, but in later activities you will be able to turn in any direction you wish.</p>
                <p>When you are driving, you are learning physics.  You are studying how to describe motion, a topic called kinematics.</p>
                <p>For example, there are gauges for speed, velocity, and acceleration.   If you turn the car around, does your speed change?  your velocity?  Use this experiment to learn the difference between velocity and speed.</p>

            </div>

        </div>
    </div>
    <div class="pActivitySummary">
        <div class="pSummaryHeader">Summary</div>
        <div class="pSummaryBody">
            <div class="pSummaryIconWrap">
                <div class="pSummaryIcon">

                </div>
            </div>
        </div>



    </div>
    <div class="pQuizCheck">
        <div class="pSummaryHeader">QuickCheck</div>
        <div class="pActivityBody">
            <div class="pQuizWrap">
            <div class="pQues">Please Login...</div>
            <div class="pAnsWrap">
                <div class="userInputWrap">
                </div>
                 <div class="buttonWrap">
                    <div class="pQuizButtons uSubmit" data-type="uSubmit"></div>
                    <div class="pQuizButtons qHelp" data-type="qHelp"></div>
                    <div class="pQuizButtons pQuizStep" data-type="step"><div class="pQuizButtons stepIcon" data-type="step"></div>Step</div>
                </div>
                   <div class="pQuizButtons try_another_main" data-type="try_another">Try Another</div>
               
            </div>
            <div class="pQuizFeedback"></div>
            <div class="pQuizStepWrap">
                <div class="pQuizHeaderText">Step by Step Help</div>
            
            </div>
            </div>
            <div class="pQuizIconWrap">
                </div>
        </div>
    </div>
    <div class="pQuizBoard">
        <div class="pSummaryHeader">QuizBoard</div>
     <div class="pActivityBody">
           <div class="pQuizBoardHeader">Please Login..</div>
     </div>
        <div class="pQuizboard_ques_wrap" style="display:none">
             <div class="pQues">Coming Soon...</div>
             <div class="pAnsWrap">
                <div class="userInputWrap">
                </div>
                 <div class="buttonWrap">
                    <div class="pQuizButtons uSubmit" data-type="uSubmit"></div>
                    <div class="pQuizButtons qHelp" data-type="qHelp"></div>
                </div>
            </div>
            <div class="pQuizFeedback"></div>
              <div class="pQuizStepWrap">
                <div class="pQuizHeaderText">Step by Step Help</div>
            
            </div>
        </div>
    </div>
    <div class="pButtons  pNext navButtons" data-type="Next">Next</div>
    <div class="pButtons  pBack navButtons" data-type="Back">Back</div>
       <div class="pButtons pQuizButtons pNext quizNavButtons" data-type="quizNext">Next</div>
    <div class="pButtons pQuizButtons pBack quizNavButtons" data-type="quizBack">Back</div>
    <div class="pSubMenuWrap">
        <div class="pSubMenuHeader">Ch 1: One-Dimensional Motion</div>
        <div class="innerMenuWrap">
         
        </div>

    </div>
    <div class="pButtons pSubmenuButton" data-type="submenu">

    </div>
</div>
<div class="pSearchAreaWrapper">
    <div class="pSearchHeader">Search</div>
    <input type="text" id="searchField2" placeholder="Search">
    <!--<div class="searchButton"></div>-->
    <div class="searchResults"></div>
    <div class="searchResultCount"></div>
</div>
<div class="pJsActWrapper">
	<iframe src="" id="pJSActFrame" style="position:absolute;transform-origin:left top;width: 100%;height: 100%;box-shadow: 0px 0px 15px rgba(0,0,0,0.5);"></iframe>
	<div class="pButtons jsClose" data-type="jsClose"></div>
</div>
<div class="pDisabler">
    <div class="pHelpWrapper">
        <div class="pQuizButtons hint" data-type="hint">I need a hint</div>
        <div class="pQuizButtons helpVideo" data-type="helpVideo">Watch a video</div>
         <div class="pQuizButtons solution" data-type="solution">Show solution</div>
         <div class="pQuizButtons try_another" data-type="try_another">Try Another</div>
        <!--<div class="pQuizButtons quickCheckHelpVideo" data-type="quickCheckHelpVideo">Quickcheck help</div>-->
            <div class="pQuizButtons inputBoxHelpVideo" data-type="inputBoxHelpVideo">Input box help</div>
             <div class="pQuizButtons helpClose" data-type="helpClose">Never mind</div>
        </div>
    <div class="inputBoxHelp">
        <div class="inputBoxHelp_header">Input Boxes<span class="pQuizButtons input_close" data-type="input_close">X</span></div>
        <div class="inputBoxHelp_body">
        <p style="margin-bottom: 15px;"><span style="font-weight: bold">Scientific Notation:</span> For answers greater than 10,000 or less than 0.001, enter your answer in scientific notation using e for * 10. For instance, use 2.0e4 for 2.0 * 10<sup>4</sup> or 3.0e-6 for 3.0 * 10<sup>-6</sup>.</p>
        <p><span style="font-weight: bold">Unknown Variables:</span> In steps, identify unknown variables using a question mark (?) in the input box.</p>
        </div>
     </div>
</div>

