<div class="pMainHelpWrapper">
    <div class="pHelpHeader">Help
        <div class="pButtons selected" data-type="studentHelp">Student</div>
        <div class="pButtons" data-type="TeacherHelp">Teacher</div>
    </div>
    <div class="pHelpBody">
        <div class="phelpBodyHeader">Select a help topic by choosing the thumbnail below.</div> 
        <div class="phelpInnerWrap" data-type="studentHelpBody">
            <div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="wb_math_rate_example">
                    <div class="pHelpIcon"></div>
                    <div class="pHelpDesc">Navigation through First Person Physics</div>
                </div>
                <div class="pHelpIconWrap pjumpToVideo">
                    <div class="pHelpIcon"></div>
                    <div class="pHelpDesc">Navigation through First Person Physics</div>
                </div>
            </div>
            <div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo">
                    <div class="pHelpIcon"></div>
                    <div class="pHelpDesc">Navigation through First Person Physics</div>
                </div>
                <div class="pHelpIconWrap pjumpToVideo">
                    <div class="pHelpIcon"></div>
                    <div class="pHelpDesc">Navigation through First Person Physics</div>
                </div>
            </div>
        </div> 
        <div class="phelpInnerWrap" data-type="TeacherHelpBody">
            <div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo">
                    <div class="pHelpIcon"></div>
                    <div class="pHelpDesc">Navigation through First Person Physics</div>
                </div>
                <div class="pHelpIconWrap pjumpToVideo">
                    <div class="pHelpIcon"></div>
                    <div class="pHelpDesc">Navigation through First Person Physics</div>
                </div>
            </div>
            <div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo">
                    <div class="pHelpIcon"></div>
                    <div class="pHelpDesc">Navigation through First Person Physics</div>
                </div>
                <div class="pHelpIconWrap pjumpToVideo">
                    <div class="pHelpIcon"></div>
                    <div class="pHelpDesc">Navigation through First Person Physics</div>
                </div>
            </div>
            <div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo">
                    <div class="pHelpIcon"></div>
                    <div class="pHelpDesc">Navigation through First Person Physics</div>
                </div>
                <div class="pHelpIconWrap pjumpToVideo">
                    <div class="pHelpIcon"></div>
                    <div class="pHelpDesc">Navigation through First Person Physics</div>
                </div>
            </div>
        </div> 
    </div>

</div>