<div class="pMainHelpWrapper">
    <div class="pHelpHeader">Help
        <div class="pButtons selected" data-type="studentHelp">Student</div>
        <div class="pButtons" data-type="TeacherHelp">Teacher</div>
    </div>
    <div class="pHelpBody">
        <div class="phelpBodyHeader">Select a help topic by choosing the thumbnail below.</div> 
        <div class="phelpInnerWrap" data-type="studentHelpBody">
            <div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="FPPIntro">
                    <div class="pHelpIcon navigationHelp"></div>
                    <div class="pHelpDesc"><span style="font-weight:bold">Navigation</span> through First Person Physics</div>
                </div>
               <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="QuickchecksExplained">
                    <div class="pHelpIcon quickcheckHelp"></div>
                    <div class="pHelpDesc">Answering <span style="font-weight:bold">quickchecks</span></div>
                </div>
            </div>
            <div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="CompleteAssignment">
                    <div class="pHelpIcon compAssignHelp"></div>
                    <div class="pHelpDesc">Completing <span style="font-weight:bold">assignments</span></div>
                </div>
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="ViewingGrades">
                    <div class="pHelpIcon checkGrades"></div>
                    <div class="pHelpDesc">Checking your <span style="font-weight:bold">grades</span></div>
                </div>
            </div>
        </div> 
        <div class="phelpInnerWrap" data-type="TeacherHelpBody">
			<div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="FPPIntro">
                    <div class="pHelpIcon navigationHelp"></div>
                    <div class="pHelpDesc"><span style="font-weight:bold">Navigation</span> through First Person Physics</div>
                </div>
               <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="QuickchecksExplained">
                    <div class="pHelpIcon quickcheckHelp"></div>
                    <div class="pHelpDesc">Answering <span style="font-weight:bold">quickchecks</span></div>
                </div>
            </div>
            <div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="CompleteAssignment">
                    <div class="pHelpIcon compAssignHelp"></div>
                    <div class="pHelpDesc">Completing <span style="font-weight:bold">assignments</span></div>
                </div>
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="ViewingGrades">
                    <div class="pHelpIcon checkGrades"></div>
                    <div class="pHelpDesc">Checking your <span style="font-weight:bold">grades</span></div>
                </div>
            </div>
            <div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="HowStudentsSignIn">
                    <div class="pHelpIcon howStudentsSignIn"></div>
                    <div class="pHelpDesc">How Students Sign In</div>
                </div>
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="UploadStudents">
                    <div class="pHelpIcon UploadStudents"></div>
                    <div class="pHelpDesc">Upload Students</div>
                </div>
            </div>
            <div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="DataDrivenInstruction">
                    <div class="pHelpIcon DataDrivenInstruction"></div>
                    <div class="pHelpDesc">Data Driven Instruction</div>
                </div>
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="ResetStudentPassword">
                    <div class="pHelpIcon ResetStudentPassword"></div>
                    <div class="pHelpDesc">Reset Student Password</div>
                </div>
            </div>
			<div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="CreateAssignment">
                    <div class="pHelpIcon CreateAssignment"></div>
                    <div class="pHelpDesc">Create Assignment</div>
                </div>
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="PrintStudentLogin">
                    <div class="pHelpIcon PrintStudentLogin"></div>
                    <div class="pHelpDesc">Print Student Login</div>
                </div>
            </div>
			<div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="GradeStudentWork">
                    <div class="pHelpIcon GradeStudentWork"></div>
                    <div class="pHelpDesc">Grade Student Work</div>
                </div>
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="RemoveAssignments">
                    <div class="pHelpIcon RemoveAssignments"></div>
                    <div class="pHelpDesc">Remove Assignments</div>
                </div>
            </div>
			<div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="EditAssignment">
                    <div class="pHelpIcon EditAssignment"></div>
                    <div class="pHelpDesc">Edit Assignments</div>
                </div>
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="PrintAssignment">
                    <div class="pHelpIcon PrintAssignment"></div>
                    <div class="pHelpDesc">Print Assignment</div>
                </div>
            </div>
            <div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="SetUpAClass">
                    <div class="pHelpIcon SetUpAClass"></div>
                    <div class="pHelpDesc">SetUp Class</div>
                </div>
              
            </div>
        </div> 
    </div>

</div>