<div class="pMainHelpWrapper">
    <div class="pHelpHeader">Help
        <div class="pButtons selected" data-type="studentHelp">Student</div>
        <div class="pButtons" data-type="TeacherHelp">Teacher</div>
    </div>
    <div class="pHelpBody">
        <div class="phelpBodyHeader">Select a help topic by choosing the thumbnail below.</div> 
        <div class="phelpInnerWrap" data-type="studentHelpBody">
            <div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="FPPIntro">
                    <div class="pHelpIcon"></div>
                    <div class="pHelpDesc"><span style="font-weight:bold">Navigation</span> through First Person Physics</div>
                </div>
               <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="QuickchecksExplained">
                    <div class="pHelpIcon quickcheckHelp"></div>
                    <div class="pHelpDesc">Answering <span style="font-weight:bold">quickchecks</span></div>
                </div>
            </div>
            <div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="CompleteAssignment">
                    <div class="pHelpIcon"></div>
                    <div class="pHelpDesc">Completing <span style="font-weight:bold">assignments</span></div>
                </div>
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="ViewingGrades">
                    <div class="pHelpIcon"></div>
                    <div class="pHelpDesc">Checking your <span style="font-weight:bold">grades</span></div>
                </div>
            </div>
        </div> 
        <div class="phelpInnerWrap" data-type="TeacherHelpBody">
            <div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="sum_admin">
                    <div class="pHelpIcon ohwHelp"></div>
                    <div class="pHelpDesc"> Online homework <span style="font-weight:bold">overview</span></div>
                </div>
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="sum_enroll_students">
                    <div class="pHelpIcon enrollHelp"></div>
                    <div class="pHelpDesc"><span style="font-weight:bold">Enrolling</span> students</div>
                </div>
            </div>
            <div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="sum_manage_classes">
                    <div class="pHelpIcon enrollHelp"></div>
                    <div class="pHelpDesc">Managing <span style="font-weight:bold">classes</span></div>
                </div>
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="sum_assignments">
                    <div class="pHelpIcon ohwHelp"></div>
                    <div class="pHelpDesc">Managing <span style="font-weight:bold">assignments</span></div>
                </div>
            </div>
            <div class="pHelpRow">
                <div class="pHelpIconWrap pjumpToVideo" data-video="true" data-vref="sum_gradebook">
                    <div class="pHelpIcon gradeHelp"></div>
                    <div class="pHelpDesc">Using the <span style="font-weight:bold">gradebook</span></div>
                </div>
              
            </div>
        </div> 
    </div>

</div>