<html>
	<head>
		<style>
			@font-face {
				font-family: 'AvenirNextLTPro-Regular';
				font-weight: normal;
				font-style: normal;
				src: url('../css/fonts/AvenirNextLTPro-Regular.eot') format('embedded-opentype'),
					url("../css/fonts/AvenirNextLTPro-Regular.woff") format("woff"),
					url("../css/fonts/AvenirNextLTPro-Regular.svg") format("svg");
			}
			#container{
				font-family:AvenirNextLTPro-Regular;
				width:600px;
			}
		</style>
	</head>
	<body>
		<div id="container"></div>
	</body>
</html>