 <div class="pSettingArea">

        <div class="pSettingHeader">Settings</div>
        <div class="pSettingBody">
            <div class="pSettingComp" data-type="login">
                <div class="pSettingCompHeader">
                    <div style="font-size:16px;color:#2184a1;font-weight: bold;font-family: AvenirNextLTPro-Demi;">Password</div>
                    <div style="font-size:12px;color:black;padding-top: 12px;">Change your password</div>
                </div>
                <div class="pSettingCompBody changePassBody">
                    <div class="inputWrapper">
                        <div class="labelText">Email or username</div>
                        <input type="text" class="loginInput username">
                    </div>
                    <div class="inputWrapper">
                        <div class="labelText">Old Password</div>
                        <input type="text" class="loginInput oldPassword">
                    </div>
                    <div class="inputWrapper">
                        <div class="labelText">New Password</div>
                        <input type="text" class="loginInput newPassword">
                    </div>
                    <div class="inputWrapper">
                        <div class="labelText">Confirm Password</div>
                        <input type="text" class="loginInput confPassword">
                    </div>
                    <div class="inputWrapper feedback" style="font-size:16px;color:red;display: none;font-weight: bold;font-family: AvenirNextLTPro-Demi;">That password doesn't meet our security requirements.</div>
                     <div class="inputWrapper">
                        
                        <input type="button" class="sbt_btn" data-type="password" value="Submit">
                    </div>
                    <div class="passNotes" style="float:left;clear:both"><span>Note:</span> Password must be at least 6 character long. They must include a lowercase letter, an uppercase letter and a number.</div>
                </div>
            </div>

             <div class="pSettingComp" data-type="email">
                <div class="pSettingCompHeader">
                    <div style="font-size:16px;color:#2184a1;font-weight: bold;font-family: AvenirNextLTPro-Demi;">Email</div>
                    <div style="font-size:12px;color:black;padding-top: 12px;">Change your email address</div>
                </div>
                <div class="pSettingCompBody changeEmailBody">
                   
                    <div class="inputWrapper">
                        <div class="labelText">New Email Address</div>
                        <input type="email" class="loginInput newEmail">
                    </div>
                    <div class="inputWrapper">
                        <div class="labelText">Confirm Email</div>
                        <input type="email" class="loginInput confEmail">
                    </div>
                   <div class="inputWrapper feedback" style="font-size:16px;color:red;display: none;font-weight: bold;font-family: AvenirNextLTPro-Demi;">That password doesn't meet our security requirements.</div>
                     <div class="inputWrapper">
                        
                        <input type="button" class="sbt_btn" data-type="email" value="Submit">
                    </div>
                   
                </div>
            </div>
            
         
              
        </div>
    </div>