<div class="pVideoMainWrapper">
    <div class="videoWrapper">
        <div class="videoPlay">
                            <div class="videoPlay_btn">
                            </div>
                        </div>
    <video id="video_exp" class="video_setup">
              <source src="assets\actwb_position_concept.webm"  type="video/webm">
              <source src="assets\actwb_position_concept.mp4"  type="video/mp4">
   </video>
    <div class="pSubtitleWrapper">
        <div class="pSubtitleHeader"> 
        </div>
        <div class="pSubtitleBody"> 
        </div>
    </div>
    <div class="playerControl">
        <div class="pButtons pReplay" data-type="replay">
            </div>
        <div class="pButtons pPrevVideo" data-type="prev-video">
            </div>
        <div class="pButtons pPlay" data-type="play">
            </div>
        <div class="pButtons pNextVideo" data-type="next-video">
            </div>
        <div class="currentTime">00:00</div>
        <div class="seekBar">
           <div class="mProgressBack"></div>
            <div class="mProgressFront">
            <div class="pButtons scruBar"></div>
        </div>
              </div>
        <div class="totalDuration">00:00</div>
       
         <div class="pButtons pVolume on" data-type="volume" >
           
            </div>
         <div class="pVolumeSlider">
                    <div class="volumeSlider">
                            <div class="volumeseek">
                            </div>
                        </div>
            </div>
    </div>
        <div class="pButtons vClose" data-type="vClose"></div>
          <div class="videoLoader">
                        </div>
    </div>
    </div>