<!doctype html>
<html ng-app="bd">
<head>
  <title>Check BookDefinition</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="./app/css/style.css">
  <script src="./app/js/app.js"></script>
  <script src="./app/js/rest-service.js"></script>
  <script src="./app/js/fpp-data-service.js"></script>
  <script src="./app/js/book-definition-service.js"></script>
  <script src="./app/js/book-definition-diagnostic-controller.js"></script>
  <script src="./app/js/helpers.js"></script>
</head>
<body>
<div class="container" ng-controller="BookDefinition">
<h2>FPP Courses for User</h2>
<table class="table">
  <thead>
    <tr>
      <th>Course ID</th>
      <th>Course Name</th>
      <th>Book ID</th>
      <th>Book</th>
    </tr>
  </thead>
  <tbody ng-repeat="course in sessionData.courseList track by $index">
    <tr>
      <td>{{course.id}}</td>
      <td>{{course.name}}</td>
      <td>{{course.book_id}}</td>
      <td>{{course.book}}</td>
    </tr>
  </tbody>
</table>

<h2>BookDefinition.json Diagnostic</h2>
<table class="table">
  <thead>
    <tr>
      <th>Assignment Name</th>
      <th>FL Quickcheck</th>
      <th>Nat'l Quickcheck</th>
      <th>NGSS Quickcheck</th>
    </tr>
  </thead>
  <tbody ng-repeat="chapter in chapters track by $index" ng-if="chapter.flQuickcheckId">
    <tr>
      <td>{{chapter.title}}</td>
      <td ng-if="!chapter.flQuickcheckId.bad">{{chapter.flQuickcheckId}}</td>
      <td ng-if="chapter.flQuickcheckId.bad" style="color:red">{{chapter.flQuickcheckId.id}}</td>
      <td ng-if="!chapter.natlQuickcheckId.bad">{{chapter.natlQuickcheckId}}</td>
      <td ng-if="chapter.natlQuickcheckId.bad" style="color:red">{{chapter.natlQuickcheckId.id}}</td>
      <td ng-if="!chapter.ngssQuickcheckId.bad">{{chapter.ngssQuickcheckId}}</td>
      <td ng-if="chapter.ngssQuickcheckId.bad" style="color:red">{{chapter.ngssQuickcheckId.id}}</td>
    </tr>

    <tr>
      <td></td>

      <td ng-if="!chapter.flQuickcheckId.bad">
        <div ng-repeat="(key, value) in chapter.problemInstIds.fl">
          <span ng-if="value === 'not found'" style="color:red">{{key}}</span>
          <span ng-if="value !== 'not found'" style="color:green">{{key}}</span>
        </div>
      </td>
      <td ng-if="chapter.flQuickcheckId.bad">Bad assignment sync ID</td>

      <td ng-if="!chapter.natlQuickcheckId.bad">
        <div ng-repeat="(key, value) in chapter.problemInstIds.natl">
          <span ng-if="value === 'not found'" style="color:red">{{key}}</span>
          <span ng-if="value !== 'not found'" style="color:green">{{key}}</span>
        </div>
      </td>
      <td ng-if="chapter.natlQuickcheckId.bad">Bad assignment sync ID</td>

      <td ng-if="!chapter.ngssQuickcheckId.bad">
        <div ng-repeat="(key, value) in chapter.problemInstIds.ngss">
          <span ng-if="value === 'not found'" style="color:red">{{key}}</span>
          <span ng-if="value !== 'not found'" style="color:green">{{key}}</span>
        </div>
      </td>
      <td ng-if="chapter.ngssQuickcheckId.bad">Bad assignment sync ID</td>
    </tr>

  </tbody>
</table>
</div>

</body>
</html>
