<!doctype html>
<html ng-app="bd">
<head>
  <title>Check BookDefinition</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="./app/js/app.js"></script>
  <script src="./app/js/helpers.js"></script>
  <script>
    app.service('BookDefinition', function($rootScope, api, $http, helpers) {

        this.get = function() {
            api.login().then(helpers.setLoginData).then(loggedIn);
        }

        function loggedIn(data) {
            getBd().then(getChapters);
        }

        function getBd() {
        	return $http.get('../BookDefinition.json').then((res) => {
				return res.data;
			}, (res) => { console.log('did not want to get here.'); });
        };

        function getChapters(res) {
            var chapters = res.chapters;
            helpers.getCourseAssignments().then((res) => {
                var data = helpers.getSyncIDs(res.data);
                console.log('syncIDs', data.syncIDs, data.assignIDs);
                helpers.fillInInstanceIds(chapters, data.syncIDs);
                var problemInstIds = helpers.getProblemInstIds(chapters, data.syncIDs);
                console.log('problemInstIds', problemInstIds);
            });
        }
    });

    app.controller('BookDefinition', ($scope, BookDefinition) => {

        BookDefinition.get();
        $scope.message = "Hello, World!";

        $scope.isEmpty = function(ch) {
            return Object.keys(ch).length === 0;
        };

    });
  </script>
</head>
<body>
<div class="container" ng-controller="BookDefinition">
<h1>{{message}}</h1>
<ul>
  <li ng-repeat="assigns in syncIDs">{{assigns}}:
    <ul>
      <li ng-repeat="assign in assigns track by $index">{{assign.id}}, type {{assign.type}}, syncID {{assign.syncID}}</li>
    </ul>
  </li>
</ul>
<ul>
  <li ng-repeat="chapter in chapters track by $index" ng-if="!isEmpty(chapter) && chapter.quizBoard_id">{{chapter.title}}, quizboard ID {{chapter.quizBoard_id}}</li>
  <li ng-repeat="chapter in chapters track by $index" ng-if="!isEmpty(chapter) && !chapter.quizBoard_id">{{chapter.title}}, {{chapter}}</li>
</ul>
</div>

</body>
</html>
