*{
	box-sizing:border-box;
	outline:0;
}

body{
	margin:0;
}

#fwrapper{
	transform-origin:left top;
	position:relative;
	font-family: AvenirNextLTPro-Demi;
	background-color:#2c3e50;
            margin: 0 auto;
}

.tabswrapper{
	position: absolute;
    left: 6px;
    top: 6px;
    width: 798px;
    height: 37px;
    background-color: #ffffff;
    font-family: AvenirNextLTPro-Regular;
    font-weight: bold;
    padding: 1px 0px 1px 0px;
	pointer-events:auto;
}

td.tabs {
    width: 137px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-right: 1px solid white;
    color: white;
    font-size: 14px;
	cursor:pointer;
    background-color: #3498db;
}

td.tabs:first-child {
    border-left: 1px solid white;
}

td.tabs:last-child  ul{
    margin-left: -79px;
}

td.tabs.pHover {
    background-color: #ffa500;
    /* border-bottom: 2px solid; */
}
.tabs ul {
    position: absolute;
    text-align: left;
    top: 37px;
    list-style: none;
    margin: 0px 0px 0px -5px;
    background: #666666;
    font-weight: normal;
    padding: 0px 2px 0px 2px;
	display:none;
	z-index:50;
}
.tabs ul  li{
	padding: 6px 10px 6px 7px;
    border-bottom: 1px solid #B3B3B3;
}
.tabs ul  li.pHover{
	background-color: #ffa500;
}
.tabs ul  li:last-child{
    border-bottom: none;
}

.tabborder {
    width: 138px;
    height: 2px;
    margin-left: -5px;
    background: #666666;
    position: absolute;
    top: 95%;
	display:none;
}

.contentWrapper{
	position: absolute;
    left: 0px;
    top: 43px;
    width: 100%;
    height: 550px;
    background: #f5f7f7;
    border: 6px solid #2c3e50;
    font-family: AvenirNextLTPro-Regular;
    border-top: 0px solid #2c3e50;
	//pointer-events:none;
}
table{
pointer-events:none;
}
.myDiv1{
pointer-events:none;
}
/* 
.contentPage12{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;
}
.contentPage13{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;
}
.contentPage21{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;
	//padding: 20px 0px 20px 0px;
}
.contentPage22{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;
	//padding: 20px 0px 20px 0px;
}
.contentPage23{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;
	//padding: 20px 0px 20px 0px;
}
.contentPage24{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;
}
.contentPage31{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;
}
.contentPage41{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;

}
.contentPage42{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;

}
.contentPage43{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;

}
.contentPage51{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;

}
.contentPage52{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;

}
.contentPage53{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;

}
.contentPage54{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;

}
.contentPage55{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;

}
.contentPage56{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;

}
.contentPage511{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;
}
.contentPage510{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;
}
.contentPage59{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;
}
.contentPage58{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;
}
.contentPage57{
	position: absolute;
    left: 0px;
    top: 78px;
    width: 100%;
    height: 515px;
    background: #DDE2E6;
    border-top: 2px solid #566A83;
    border-bottom: 6px solid #566A83;
	font-family: AvenirNextLTPro-Regular;
} */
.contentTitle{
	padding: 5px 0px 5px 15px;
       background-color: #c5c5c5;
    color: #4e4d4d;
    font-weight: bold;
}
.contentRevMain{


padding: 20px 0px 20px 98px !important;
}
.content{
	height: calc(100% - 29px);
	padding: 20px 0px 20px 0px;
	    position: relative;
    overflow: hidden;
}
.mjx-semantics{
    margin-left: .278em;
}
.maction{
    font-size: 99% !important;
}
.MJXc-display{
    margin:0 !important;;  
}
.mjx-chtml{
    padding: 0px !important;
    outline: none !important;
}
.MathJax_Display {
    margin:0 !important;
    text-align: left !important;
}
span.math>span:last-of-type {
    border-width: 0!important;
}